################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SchoolManagementApp
/SchoolManagementApp/bin/Debug/netcoreapp3.0
/SchoolManagementApp/obj
/SchoolManagementApp.Tests/bin/Debug/netcoreapp3.0
/SchoolManagementApp.Tests/obj
